<h1>New Reply to Topic:</h1>
<h2><%=@topic.name %></h2>
<%=form_for [@topic, @reply] do |f| %>
  <%=f.label :title %>
  <%=f.text_field :title %>
  <br>
  <%=f.label :body %>
  <%=f.text_area :body %>
  <br>
  <%=f.submit :submit %>
<% end %>